<a href="https://colab.research.google.com/github/armandossrecife/lp20232/blob/main/funcoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funções em Python

In [3]:
def somar(x, y):
  return x+y

def subtrair(x, y):
  return x-y

def multiplicar(x, y):
  return x*y

def dividir(x,y):
  if y == 0:
    return 'Erro: Divisão por Zero'

  return x/y

In [4]:
print(f'{somar(5,7)}')
print(f'{subtrair(5,7)}')
print(f'{multiplicar(5,7)}')
print(f'{dividir(5,7)}')
print(f'{dividir(5,0)}')

12
-2
35
0.7142857142857143
Erro: Divisão por Zero

# Valores defaults

In [5]:
def bem_vindo(usuario='Armando'):
  print(f'Seja bem vindo {usuario}')

In [9]:
bem_vindo()

Seja bem vindo Armando

In [10]:
bem_vindo(usuario='Carla')

Seja bem vindo Carla

# Funções com quantidade de parâmetros variável

parâmetro *argv representa uma tupla de N valores

parâmetro **kargs representa um dicionario de N itens (chave, valor)

In [16]:
def minhas_palavras(*argv):
  for palavra in argv:
    print(palavra)

In [15]:
minhas_palavras('Armando', 'Soares', 'Sousa')

Armando
Soares
Sousa

In [13]:
minhas_palavras('Maria', 'Joaquina', 'Amaral', 'Pereira', 'Goes')

Maria
Joaquina
Amaral
Pereira
Goes

In [20]:
def nome_completo(**kargs):
  for chave, valor in kargs.items():
    print(chave, valor)

In [21]:
nome_completo(primeiro_nome='Armando', nome_do_meio='Soares', ultimo_nome='Sousa')

primeiro_nome Armando
nome_do_meio Soares
ultimo_nome Sousa

In [23]:
def meu_contato(**kargs):
  for chave, valor in kargs.items():
    print(chave, valor)

In [24]:
meu_contato(nome='Carla', email='carla@g.com', telefones=['8699432123', '86977665544'])

nome Carla
email carla@g.com
telefones ['8699432123', '86977665544']

# Números randômicos

módulo random

https://docs.python.org/pt-br/3/library/random.html

In [34]:
import random

numero_randomico = random.random()

print(numero_randomico)

0.3873125054880353

In [26]:
# intervalor fechado para limite inferior e superior
numero_randomico_inteiro = random.randint(1,10)

print(numero_randomico_inteiro)

4

## Valores randômicos em listas

In [44]:
nomes = ["Maria", "Joaquina", "Amaral", "Pereira", "Goes"]
random.shuffle(nomes)

print(nomes)

['Goes', 'Pereira', 'Amaral', 'Joaquina', 'Maria']

In [45]:
numeros = [10, 5, 20, 37, 40, 23]
random.shuffle(numeros)

print(numeros)

[5, 20, 40, 10, 23, 37]

## Choice

escolha aleatória

In [48]:
random.choice(nomes)

'Pereira'

In [49]:
random.choice(numeros)

23

# Básico de data e hora

Módulo datetime

https://docs.python.org/pt-br/3.10/library/datetime.html

In [53]:
import datetime

In [54]:
hoje = datetime.date.today()

print(f'hoje: {hoje}')

hoje: 2023-12-11

In [56]:
data_completa = datetime.datetime.now()

print(f'Data de hoje: {data_completa}')

Data de hoje: 2023-12-11 13:08:03.684997

In [60]:
# Atributos de datetime
#  Atributos: year, month, day, hour, minute, second, microsecond, e tzinfo.

print(f'Ano: {data_completa.year}')
print(f'mês: {data_completa.month}')
print(f'hora: {data_completa.hour}')
print(f'minuto: {data_completa.minute}')
print(f'segundo: {data_completa.second}')
print(f'milisegundo: {data_completa.microsecond}')

Ano: 2023
mês: 12
hora: 13
minuto: 8
segundo: 3
milisegundo: 684997

In [57]:
# Data formatada strftime

print(f"Data: {data_completa.strftime('%d/%m/%Y')}")

Data: 11/12/2023

In [58]:
print(f"Data: {data_completa.strftime('%d/%m/%Y %H:%M:%S')}")

Data: 11/12/2023 13:08:03