<a href="https://colab.research.google.com/github/armandossrecife/lp20232/blob/main/revisao_dicionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando um dicionário

In [2]:
pessoas = {}

pessoas['111'] = 'Armando'
pessoas['222'] = 'Maria'
pessoas['333'] = 'Carla'

# Chaves de um dicionário

In [3]:
pessoas.keys()

dict_keys(['111', '222', '333'])

In [4]:
for chave in pessoas.keys():
  print(chave)

111
222
333

# Valores de um dicionário

In [5]:
pessoas.values()

dict_values(['Armando', 'Maria', 'Carla'])

In [6]:
for valor in pessoas.values():
  print(valor)

Armando
Maria
Carla

# Itens de um dicionário

In [7]:
for k, v in pessoas.items():
  print(k, v)

111 Armando
222 Maria
333 Carla

# Checa se um dado aperece em um dicionário

Obs: válido apenas para consultar valores das chaves

In [8]:
'222' in pessoas

True

In [9]:
'444' in pessoas

False

# Atualizando um dicionário

In [10]:
pessoas['333'] = 'Ana'

In [11]:
pessoas.values()

dict_values(['Armando', 'Maria', 'Ana'])

In [12]:
pessoas.keys()

dict_keys(['111', '222', '333'])

# Copiando dados de um dicionário

In [13]:
pessoas_aux = pessoas.copy()

In [15]:
for k, v in pessoas_aux.items():
  print(k, v)

111 Armando
222 Maria
333 Ana

## Para Python >= 3.10

In [14]:
pessoas2 = pessoas

In [ ]:
for each in pessoas2.items():
  print(each)

('111', 'Armando')
('222', 'Maria')
('333', 'Ana')

# Dicionários aninhados

In [16]:
# dicionários aninhados

alunos_ufpi = {}

aluno1 = {'nome':'Carla', 'curso':'Ciência da Computação', 'ano_nascimento':1999}
aluno2 = {'nome': 'Maria', 'ano_nascimento': 1980}
aluno3 = {'nome': 'Ana', 'ano_nascimento': 1990}

In [17]:
alunos_ufpi = {
    '1111222333':aluno1,
    '1231231234':aluno2,
    '2344567892':aluno3
}

In [18]:
for k, v in alunos_ufpi.items():
  print(k, v)

1111222333 {'nome': 'Carla', 'curso': 'Ciência da Computação', 'ano_nascimento': 1999}
1231231234 {'nome': 'Maria', 'ano_nascimento': 1980}
2344567892 {'nome': 'Ana', 'ano_nascimento': 1990}

In [19]:
alunos_ufpi['1111222333']['nome']

'Carla'

In [21]:
alunos_ufpi['1111222333']['curso']

'Ciência da Computação'

In [22]:
alunos_ufpi['1111222333']['ano_nascimento']

1999

# Mini agenda usando dicionário

In [23]:
'''
ler dados de um aluno
Guardar os alunos em um dicionario
Inserir um aluno no dicionario
Listar os alunos cadastrados no dicionario
Criar um menu de opcoes (1. Inserir aluno, 2. Listar alunos cadastrados, 3. Sair)
'''

dicionario_alunos = {}

def ler_dados_aluno():
  matricula = input("Qual a matrícula? ")
  nome = input("Qual o nome? ")
  notas = input("Digite 3 notas separadas por vírgula: ")
  notas = notas.split(',')
  aluno = (matricula, nome, notas)
  return aluno

def inserir_aluno(aluno):
  chave = aluno[0]
  dados_aluno = (aluno[1], aluno[2])
  dicionario_alunos[chave] = dados_aluno
  print("aluno inserido com sucesso!")

def listar_alunos():
  for item in dicionario_alunos.items():
    print(item)

def meu_menu():
  print("1. Inserir aluno")
  print("2. Listar alunos cadastrados")
  print("3. Sair")

aluno_temp = None
while(True):
  meu_menu()
  opcao = input("Qual sua opção? ")
  if opcao == '1':
    aluno_temp = ler_dados_aluno()
    inserir_aluno(aluno_temp)
  elif opcao == '2':
    listar_alunos()
  elif opcao == '3':
    break
  else:
    print("Opcao inválida!")

1. Inserir aluno
2. Listar alunos cadastrados
3. Sair
Qual sua opção? 1
Qual a matrícula? 1
Qual o nome? Maria
Digite 3 notas separadas por vírgula: 10, 8, 9
aluno inserido com sucesso!
1. Inserir aluno
2. Listar alunos cadastrados
3. Sair
Qual sua opção? 2
('1', ('Maria', ['10', ' 8', ' 9']))
1. Inserir aluno
2. Listar alunos cadastrados
3. Sair
Qual sua opção? 3